@import '../../Base/animate';

@import './CaseHome/case';
@import './BlogsHome/blogs';
@import './ContactHome/contact';
@import './Services/ServicesHome';

.info-coure-box {
    padding: 50px 0 50px;

    .info-course-home {
        .info-gird {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            color: $text-c0-white;
            gap: 20px;

            .info-item-home {
                padding: 34px 35px 29px;
                border-left: 2px solid $text-c1-primary;
                position: relative;
                overflow: hidden;

                .info-overlay {
                    display: block;
                    position: absolute;
                    width: 0%;
                    height: 100%;
                    top: 0%;
                    left: 0%;
                    color: $text-c0-white;
                    background-color: $bg-c1-primary;
                    z-index: 1;
                    border-radius: 5px;
                    opacity: 0;
                    visibility: hidden;
                    transition: all 0.4s ease;
                }
                .info-item-content {
                    div {
                        position: relative;
                        z-index: 2;
                        display: flex;

                        i {
                            display: inline-block;
                            color: #0554f2;
                            font-size: $fs-c12 ;
                        }

                        h3 {
                            padding-left: 22px;
                            font-size: $fs-c12;
                            margin-bottom: 13px;
                            font-size: $fs-c12 ;
                        }
                    }

                    p {
                        position: relative;
                        z-index: 2;

                        ul {
                            margin-left: 23px;

                            li {
                                list-style: unset;
                            }
                        }
                    }
                }


                &:nth-child(1) {
                    grid-row: 1/span 2;

                }

                &:hover {
                    border-radius: 5px;
                    border-left: 2px solid transparent;
                }

                &:hover .info-overlay {
                    width: 100%;
                    left: 0%;
                    opacity: 1;
                    visibility: visible;
                    transition: all 0.4s ease;
                }


                &:hover .info-item-content div h3,
                &:hover .info-item-content div i,
                &:hover .info-item-content p {
                    color: $text-c0-white;

                }

            }
        }
    }
}

.counter {
    padding: 140px 0 125px;
    background-image: url(../../../../../public/img/img-counter1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center 10.5141px;
    @include ScreenSize($md){
        padding: 75px 0 50px;
    }
    .container {
        .row {
            div {
                @include ScreenSize($md){
                }
                .counter__item {
                    span {
                        font-size: $fs-6xl;
                        font-weight: $fw-medium;
                        line-height: 1;
                        margin-bottom: 13px;
                        display: inline-block;
                        @include ScreenSize($md){
                            margin-bottom: 5px;
                        }
                    }

                    h3 {
                        color: $text-c0-white;
                        font-size: $fs-c12;
                        margin-bottom: 0;
                        font-weight: $fw-regular;
                        @include ScreenSize($md){
                            margin-bottom: 20px;
                        }
                    }
                }

            }

        }
    }
}

.support--bg {
    padding-bottom: 362px;
    background-image: url(../../../../../public/img/support-image-backround1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}