    .list-couser-category {  
        margin-bottom: 50px;
        div {
            .course-name {
                margin: 50px 0 0 10px;
                display: inline-block;
                border-radius: 25px;
                padding: 12px 10px;
                border: 2px solid $text-c2-primary;
                outline: none;
                transition: .5s linear;
                font-weight: $fw-medium;

                i {
                    color: $text-c0-primary;
                }

            }
        }
    }

    .sub-card .card-icon,
    .sub-card .sub-card-head,
    .sub-card h6,
    .sub-card p {
        padding: 10px 0;
    }