.container-custom {
    padding: 0 185px;

    @media (max-width: 1666px) {
        padding: 0 60px;
    }

    @media (max-width: 1339.98px) {
        padding: 0 0px;
    }
}

.container {
    max-width: 1280px;
    margin: 0 auto;

    @media screen and (max-width:1199.98px) {
        max-width: 960px;
    }

    @media screen and (max-width:991.98px) {
        max-width: 720px;
    }

    @media screen and (max-width:767.98px) {
        max-width: 540px;
    }

    @media screen and (max-width:414px) {
        max-width: 340px;
    }
}

.col-xl-3 {
    max-width: 1200px;
}