.btn--common {
    padding: 11px 12px 11px 25px;
    font-size: $fs-c4;
    font-weight: 500;
    background: $bg-c1-white;
    color: $text-c2-dark ;
    border-radius: 5px;
    outline: 0;
    transition: all 0.4s ease;
    display: inline-flex;
    align-items: center;
    letter-spacing: 0.01em;
    white-space: nowrap;
    @media screen and (max-width:414px){
     padding: 10px 12px;
    }
    i {
        fill: currentColor;
        vertical-align: middle;
        margin-left: 15px;
        width: 26px;
        z-index: 1;
        display: inline-block;
        outline: 0;
        @media screen and (max-width:414px){
            display: none;
    }
    }

    &:hover i {
        transform: rotate(180deg);
        overflow: hidden;
        animation: theflast 0.5s;
    }
}

.btn--common:hover {
    border: 0px solid transparent;
    box-shadow: none;
}

.btn-primary {
    background-color: $bg-c1-primary ;
    color: $text-c0-white ;
}

.btn {
    --bs-btn-border-width: 0;
    --bs-btn-border-radius:0;
}

.btn-modal1{
    border-radius: 5px;
    background: $bg-c4-primary;
    color: $text-c0-white;
    &:hover{
        background: $bg-c3-primary;
        color: $text-c0-white;
    }
}

.btn-card-global{
    outline: none;
    border: transparent;
    transition: all .5s;
    text-transform: uppercase;
    font-size: 15px;
    padding: 5px 10px;
    background-color: $bg-c1-primary;
}

.scroll-to-top{//back to top
    background-color: $bg-c1-primary!important;
}
@keyframes theflast {
    49% {
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    51% {
        opacity: 1;
    }
}