.paginationPages {
    display: flex;
    justify-content: center;
    padding-left: 0;
    list-style: none;
    border-radius: 0.25rem;
    margin-bottom: 10px;

    .page-item {
        .page-link-pages {
            position: relative;
            display: block;
            padding: 0.5rem 0.75rem;
            margin-left: 5px;
            line-height: 1.25;
            color: #000;
            background-color: #fff;
            border: 2px solid $bg-c5-primary;
            border-radius: 5px;
            &:hover{
                z-index: 2;
                color: #fff;
                text-decoration: none;
                background-color: $bg-c5-primary;
                border-color: #dee2e6;
            }
        }
        &.active {
            .page-link-pages {
            z-index: 3;
                color: #fff;
                background-color: $bg-c5-primary;
                border-color: $text-c0-primary;
              
            }
        }
    
    }
}