$dark-primary: #38393a;
$dark-button: #7b7e83;

.dark-light {
    background: $bg-c1-primary;
    border-radius: 5px;
    margin-right: 10px;

    button {
        padding: 0;
        display: inline-block;
        min-width: 100%;
        cursor: pointer;

        i {
            font-size: 26px;
            display: inline-block;
            margin-top: 0.65rem;

            @media screen and (max-width: 415px) {
                font-size: 24px;

            }
        }


        &:hover {
            background-color: transparent;
        }

        .fa-solid {
            color: $text-c0-white;
            padding: 0px 10px 10px 10px;
        }

        .fa-moon {
            transform: rotate(-12deg);

        }
    }

    @media screen and (max-width: 991.98px) {
        position: absolute;
        top: 20%;
        left: 16%;
    }

    @media screen and (max-width: 767.98px) {
        top: 4.9%;
        left: 57%;
    }

    @media screen and (max-width: 600px) {
        left: 48%;

    }

    @media screen and (max-width: 575.98px) {
        top: 1.9%;
        left: 81%;

        button {
            i {
                margin-top: 0.4rem;
            }

            .fa-solid {
                padding: 0px 5px 5px 5px;

            }
        }


    }

    @media screen and (max-width: 415px) {
        left: 77%;
        top: 2.8%;
    }
    @media screen and (max-width: 376px) {
        left: 74%;
        top: 2.2%;
    }

}

[data-mui-color-scheme="dark"] {

    .secondary-bg-color {
        margin-bottom: 15px !important;
        box-shadow: 0px 10px 15px 5px rgba(105, 105, 110, 0.32);
    }

    header.sticky-on.sticky .navbar-wrap {
        box-shadow: 0px 7px 30px 0px rgb(116 112 112 / 37%);
    }

    .btn--common,
    .blog-item__tags,
    .contact-form__button,
    .scroll-to-top,
    .services__item_overlay,
    .services__navbar_link.nav-link.active,
    .services__navbar_link::before,
    .stiker-card,
    .btn-sub-card,
    .info-overlay,
    .dark-light {
        background: $dark-button !important;
    }

    .navbar-collapse ul li a::before,
    .footer-widget_title h3::before,
    .section-heading__title_small::before,
    .carousel-caption div span::before {
        background-color: $bg-c0-white !important;
    }

    .footer-form input,
    .detail-coures-content .btn-preview {
        border-color: $text-c0-white !important;
        color: $text-c0-white !important;
    }

    body,
    .header,
    .header-bottom,
    .navbar-wrap,
    .content-layout,
    .info-coure-box,
    .card-global,
    .sub-card,
    .services-home,
    .services__item,
    .contact,
    .main-menu_dropdown,
    .footer,
    .admin,
    .details,
    table .align-middle,
    .dropdown-menu,
    .dropdown-menu li a,
    .form-user,
    .secondary-bg-color,
    .modal-content,
    .page-link-pages,
    .footer-form input,
    .social_list a,
    .form-coupon input,
    .blog-item::before {
        background-color: $dark-primary !important;
    }

    //text
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    span,
    p,
    .search-main .search_input,
    .search-main .search_input::placeholder,
    .nav-link,
    .main-menu_dropdown li a,
    .section-heading__title_small,
    .services__item_icon,
    .services__item_title a,
    .services__item_content a,
    .blog-item__title a,
    .card-footer div p:nth-child(2),
    .text-discripts,
    .box-course-learn .row ul li a,
    .detail-coures-content .btn-preview,
    .color-card-title,
    .blog-item__article ul li i,
    table thead tr th,
    td,
    .page-link-pages,
    .login-info span::after,
    .dropdown-item,
    .services__tech_icon,
    .info-item-content div i,
    .contact-form__input,
    .header-top_info_icon i::before,
    .course-name i,
    .detail-course-intro i,
    .box-course-learn .row ul li i,
    .lesson-content span i,
    .side-bar-detail-content ul li i,.fa-search:before {
        color: $text-c0-white !important;
    }

    .btn-page-login {
        background: $bg-c1-primary !important;
    }
}

.admin {
    .dark-light {
        position: absolute;
        top: 10%;
        right: 32%;
        // do tài khoản admin hiện tại không được cung cấp nữa nên scss phần này có thể có bug hiển thị
    }
}