.detail-coures {
    //

    .detail-coures-content {
        .btn-preview{
            padding: 5px;
            background-color: transparent;
            border: 1px solid $text-c0-primary;
            font-weight: 500;
            text-transform: uppercase;
            color: $text-c0-primary;
            transition: all .5s;
        }
        padding: 50px;

        // right
        .title-detail-course {}

        .head-detail-course {
            padding: 30px 0;

            .detail-course-intro {
                display: flex;
                padding: 5px;
                align-items: center;


                img {
                    height: 50px;
                    width: 50px;
                    object-fit: cover;
                    border-radius: 50%;
                }

                i {
                    font-size: 35px;
                    color: $bg-c1-primary;
                }

                .instrutor-title {
                    padding: 0 5px;

                    p {
                        &:first-of-type {
                            font-size: 14px;
                            color: $text-c2-dark;
                        }
                    }
                }

                .review-detail {
                    text-align: right;

                    span {
                        font-weight: $fw-semiBold;

                        i {
                            color: $text-c0-yellow;
                            font-size: 20px;
                        }
                    }

                    p {}
                }
            }
        }

        .text-discripts {
            color: $text-c1-dark;
            padding-bottom: 20px;
            border-bottom: 1px solid $text-c5-dark;
            text-align: justify;
        }

        .box-course-learn {
            padding: 20px 0;

            h6 {
                padding: 10px 0;
                font-size: 20px;
            }

            .row {
                .col-6 {
                    ul {
                        li {
                            padding: 5px 0;
                            text-align: justify;

                            i {
                                margin-right: 5px;
                                color: $text-c0-primary;
                            }

                            a {
                                color: $text-c2-dark;
                            }
                        }
                    }
                }
            }
        }

        .course-content {
            h6 {
                font-size: $fs-c8;
                font-weight: $fw-semiBold;
                padding-bottom: 20px;
            }

            .course-detail-item {
                .course-detail-content {
                    padding: 20px 0;

                    .section-course {
                        display: flex;
                        align-items: center;
                        padding: 10px;
                        margin-bottom: 20px;
                        background-color: #dcdcdc24;

                        p {
                            padding: 0 10px;
                        }

                        span {text-transform: uppercase;
                            font-size: 22px;
                            font-weight: 400;
                            margin-right: 20px;}

                        button {   }
                    }

                    .lesson-container {
                        .lesson-content {
                            display: flex;
                            padding: 10px;
                            justify-content: space-between;
                            align-items: center;
                            box-shadow: 1px 1px 2px 1px rgba(239, 244, 190, .27);

                            span {
                                color: $text-c3-dark;

                                &:nth-of-type(2) {
                                    display: flex;
                                    align-items: center;
                                }

                                i {
                                    color: $text-c0-primary;
                                    margin-right: 10px;
                                }
                            }
                        }
                    }
                }
            }
        }

        //left
        .side-bar-course-detail {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-bottom: 15px;
            padding: 10px 30px;
            box-shadow: 1px 1px 10px 4px #dadada;
            img {margin: 0 -20px;
                min-height: 210px;
            }

            .course-price {
                padding: 30px 0;
                text-align: right;
                p {font-weight: $fw-medium;
                    font-size: 25px;
                    i{
                        margin-right: 10px;
                        color: $text-c0-yellow;
                    }
                }
            }

            button {}

            .side-bar-detail-content {
                ul {
                    li {
                        display: flex;
    align-items: center;
    padding: 20px 0;
    justify-content: space-between;
    border-bottom: 1px solid #f2f1f1;
                        p {
                            color:$text-c1-dark ;
                            span {    color:$text-c2-dark;
                                font-weight: $fw-medium;}
                        }

                        i {    font-size: 20px;
                            color: $text-c0-primary;}
                    }
                }
                .form-coupon{
                    padding: 20px 0;
                    input{
                        width: 100%;
                        outline: none;
                        padding: 3px 10px;
                        border: 1px solid #d0d0d0;
                    }
                }
            }
        }
    }

    .courses-related {
        padding: 20px 50px;
    }
}