.main-menu_nav ul .nav-sub a::before {
    &::before {
        content: "";
        position: absolute;
        height: 4px;
        background: #0554f2;
        left: 0;
        right: 0;
        margin: 0 auto;
        bottom: 0;
        transition: 0.4s;
        transform: scaleX(0);
    }
}

.header {
    .header-top {
        padding-top: 16.5px;
        padding-bottom: 16.5px;
        border-bottom: 1px solid #e1e1e1;

        @include ScreenSize ($md) {
            display: none;
        }

        .container-fluid {
            .row {
                .col-lg-9 {

                    .header-top_info {

                        display: flex;
                        align-items: center;
                        -webkit-box-align: center;

                        .header-top_info_item {
                            display: flex;
                            -webkit-box-align: center;
                            align-items: center;
                            padding-right: 20px;
                            margin-right: 40px;
                            border-right: 1px solid #d4d3d3;

                            &:last-of-type {
                                // @media screen and (max-width : 1279.98px) {
                                //     display: none;

                                // }
                                @include ScreenSize($lg) {
                                    display: none;
                                }
                            }

                            .header-top_info_icon {
                                line-height: $lh-c1;

                                i {
                                    display: inline-block;
                                    margin-right: 15px;

                                    &::before {
                                        color: $text-c0-primary;
                                        font-size: 27px;
                                    }
                                }
                            }

                            .header-top_info_text {
                                p {
                                    color: $text-c1-dark;
                                }

                                span {}
                            }
                        }
                    }
                }

                .col-lg-3 {
                    .header-top_social {
                        text-align: right;

                        ul {
                            display: inline-flex;


                        }

                    }
                }
            }
        }
    }

    .header-bottom {
        .container-fuild {
            .header-bottom_row {
                @include ScreenSize ($md) {
                   padding: 21px 0px;;
                }
                .header-bottom_col {
                    &:nth-child(1) {
                        .logo {
                            a {
                                img {}
                            }
                        }
                    }

                    &:nth-child(2) {
                        @include ScreenSize ($md) {
                            display: none;
                        }
                        .main-menu {
                            .main-menu_nav {
                                ul {
                                    .nav-sub {
                                        display: inline-block;
                                        -webkit-box-align: center;
                                        position: relative;
                                        padding: 0 0px 0 17px;

                                        &:hover>a::before,
                                        .main-menu_dropdown li:hover a::before {
                                            transform: scaleX(1);
                                            opacity: 1;
                                        }

                                        &:hover a,
                                        .main-menu_dropdown li:hover a {
                                            color: $text-c0-primary;
                                        }

                                        &:hover .main-menu_dropdown {
                                            opacity: 1;
                                            visibility: visible;
                                            transform: scaleY(1);
                                            top: 100%;
                                            transition: 0.4s;
                                        }

                                        a {
                                            font-size: $fs-c5;
                                            color: #14133b;
                                            font-weight: $fw-medium;
                                            position: relative;
                                            display: inline-block;
                                            padding: 33px 6px;

                                            &::before,
                                            .main-menu_dropdown li a {
                                                content: "";
                                                position: absolute;
                                                height: 4px;
                                                background: #0554f2;
                                                left: 0;
                                                right: 0;
                                                margin: 0 auto;
                                                bottom: 0;
                                                transition: 0.4s;
                                                transform: scaleX(0);

                                            }
                                        }

                                        .main-menu_dropdown {
                                            z-index: 100;
                                            position: absolute;
                                            left: 0;
                                            width: 200px;
                                            margin: 0;
                                            background-color: $bg-c0-white;
                                            text-align: left;
                                            padding: 15px 0;
                                            border-radius: 0 0 5px 5px;
                                            transform-origin: 0 0 0;
                                            opacity: 0;
                                            visibility: hidden;
                                            transform: scaleY(0);

                                            li {
                                                display: block;
                                                padding: 0 10px;

                                                a {
                                                    display: block;
                                                    font-size: $fs-c3;
                                                    padding: 8.5px 7px;
                                                    color: $text-c3-dark;
                                                    font-weight: 500;

                                                    &::before {
                                                        width: 3px;
                                                        height: 13px;
                                                        top: 35%;
                                                        left: 0;
                                                        transform: scaleY(-50%);
                                                        margin: 0;
                                                        visibility: visible;
                                                        opacity: 0;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }

                    &:nth-child(4) {
                        display: flex;
                        align-items: center;

                        span {
                            font-size: $fs-c8;
                        }

                        .header-avatar {

                            .header-set {
                                display: inline-block;
                                margin-right: 5px;
                                cursor: pointer;
                            }

                            .to-info {
                                position: relative;
                                display: inline-block;
                                width: 50px;
                                height: 50px;

                                .your-avatar {
                                    width: 100%;
                                    height: 100%;
                                    border-radius: 50%;
                                    object-fit: cover;
                                }

                                .logout {
                                    position: absolute;
                                    top: 18%;
                                    right: 1%;
                                    opacity: 0;
                                    transition: .5s;
                                }

                                &:hover .logout {
                                    opacity: 1;
                                    right: -55%;
                                    transition: .5s;
                                }
                            }
                        }



                    }
                }
            }
        }
    }


}

header.sticky-on.sticky .navbar-wrap {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: white;
    box-shadow: 0px 7px 65px 0px rgba(0, 0, 0, 0.05);
    transition: all 0.4s ease;
}