.main-menu_nav ul .nav-sub a::before {
    &::before {
        content: "";
        position: absolute;
        height: 4px;
        background: #0554f2;
        left: 0;
        right: 0;
        margin: 0 auto;
        bottom: 0;
        transition: 0.4s;
        transform: scaleX(0);
    }
}

.header {
    .header-top {
        padding-top: 16.5px;
        padding-bottom: 16.5px;
        border-bottom: 1px solid #e1e1e1;

        .container-fluid {
            .row {
                .col-lg-9 {

                    .header-top_info {

                        display: flex;
                        align-items: center;
                        -webkit-box-align: center;

                        .header-top_info_item {
                            display: flex;
                            -webkit-box-align: center;
                            align-items: center;
                            padding-right: 20px;
                            margin-right: 40px;
                            border-right: 1px solid #d4d3d3;

                            .header-top_info_icon {
                                line-height: $lh-c1;

                                i {
                                    display: inline-block;
                                    margin-right: 15px;

                                    &::before {
                                        color: $text-c0-primary;
                                        font-size: 27px;
                                    }
                                }
                            }

                            .header-top_info_text {
                                p {
                                    color: $text-c1-dark;
                                }

                                span {}
                            }
                        }
                    }
                }

                .col-lg-3 {
                    .header-top_social {
                        text-align: right;

                        ul {
                            display: inline-flex;

                           
                        }

                    }
                }
            }
        }
    }

    .header-bottom {
        .container-fluid {
            .header-bottom_row {

                .header-bottom_col {

                    &:nth-child(1) {
                        .logo {
                            a {
                                img {}
                            }
                        }
                    }

                    &:nth-child(2) {
                        .main-menu {
                            .main-menu_nav {
                                ul {
                                    .nav-sub {
                                        display: inline-block;
                                        -webkit-box-align: center;
                                        position: relative;
                                        padding: 0 0px 0 17px;

                                        &:hover>a::before,
                                        .main-menu_dropdown li:hover a::before {
                                            transform: scaleX(1);
                                            opacity: 1;
                                        }

                                        &:hover a,
                                        .main-menu_dropdown li:hover a {
                                            color: $text-c0-primary;
                                        }

                                        &:hover .main-menu_dropdown {
                                            opacity: 1;
                                            visibility: visible;
                                            transform: scaleY(1);
                                            top: 100%;
                                            transition: 0.4s;
                                        }

                                        a {
                                            font-size: $fs-c5;
                                            color: #14133b;
                                            font-weight: $fw-medium;
                                            position: relative;
                                            display: inline-block;
                                            padding: 33px 6px;

                                            &::before,
                                            .main-menu_dropdown li a {
                                                content: "";
                                                position: absolute;
                                                height: 4px;
                                                background: #0554f2;
                                                left: 0;
                                                right: 0;
                                                margin: 0 auto;
                                                bottom: 0;
                                                transition: 0.4s;
                                                transform: scaleX(0);

                                            }
                                        }

                                        .main-menu_dropdown {
                                            z-index: 100;
                                            position: absolute;
                                            left: 0;
                                            width: 200px;
                                            margin: 0;
                                            background-color: $bg-c0-white;
                                            text-align: left;
                                            padding: 15px 0;
                                            border-radius: 0 0 5px 5px;
                                            transform-origin: 0 0 0;
                                            opacity: 0;
                                            visibility: hidden;
                                            transform: scaleY(0);

                                            li {
                                                display: block;
                                                padding: 0 10px;

                                                a {
                                                    display: block;
                                                    font-size: $fs-c3;
                                                    padding: 8.5px 7px;
                                                    color: $text-c3-dark;
                                                    font-weight: 500;

                                                    &::before {
                                                        width: 3px;
                                                        height: 13px;
                                                        top: 35%;
                                                        left: 0;
                                                        transform: scaleY(-50%);
                                                        margin: 0;
                                                        visibility: visible;
                                                        opacity: 0;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }

                    &:nth-child(3) {

                        .header-search {
                            border: 1px solid #e2e2e2;
                            border-radius: 5px;
                            padding: 10px 22px;
                            width: 330px;
                            position: relative;
                            padding-right: 45px;

                            .header-search_input {
                                border: 1px solid transparent;
                                width: 100%;
                                background: transparent;

                            }

                            .header-search_button {
                                background: transparent;
                                color: $text-c2-dark;
                                border: 1px solid transparent;
                                font-size: $fs-c3;
                                right: 22px;
                                position: absolute;
                                top: 50%;
                                transform: translateY(-50%);
                            }
                        }
                    }
                }
            }
        }
    }
}