.page-404 {
    width: 100vw;
    height: 100vh;
    background-image: url(../../../../../public/img/404-page.avif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    a {
        transform: translate(21vw, 65vh);
        font-size: 50px;
        font-weight: 700;
        background-color: #29c3dd;
        color: #fff;
        padding: 0 145px;
        display: inline-block;

        @media screen and (max-width:576px) {
            padding: 0 100px;
            transform: translate(9vw, 65vh);
        }

        @media screen and (max-width:550px) {
            padding: 0 96px;
            transform: translate(4vw, 65vh);
        }

        @media screen and (max-width:414px) {
            padding: 0 92px;
            transform: translate(9vw, 65.5vh);
            font-size: 30px;
        }
    }
}