@import '../../../Helpers/variables';

.services-home {
    padding: 50px 0 50px;
    background: $bg-c0-white;

    .section-heading__title_big {
        @media screen and (max-width:575.98px) {
            font-size: 1.7rem;
        }
    }

    .services__navbar {
        text-align: center;

        .row {
            div {
                .services__navbar_nav {
                    border-bottom: 2px solid $text-c2-primary;
                    display: inline-flex;
                    justify-content: center;

                    @media screen and (max-width:991.98px) {
                        flex-wrap: wrap;
                    }

                    @media screen and (max-width:767.98px) {
                        flex-direction: column;
                        align-items: start;
                    }

                    .services__navbar_item {
                        color: $text-c2-dark;
                        .services__navbar_link {
                            font-size: $fs-c8;
                            color: $text-c2-dark;
                            font-weight: $fw-medium;
                            display: inline-flex;
                            align-items: center;
                            padding: 15px 30px;
                            position: relative;
                            margin-bottom: -2px;

                            @media screen and (max-width:1200px) {
                                padding: 15px 20px;
                            }

                            @media screen and (max-width:575.98px) {
                                margin-left: 0;
                                font-size: $fs-c6;
                            }

                            &::before {
                                position: absolute;
                                content: "";
                                height: 2px;
                                background: $bg-c1-primary;
                                left: 0;
                                right: 0;
                                margin: 0 auto;
                                bottom: -1px;
                                transition: transform 0.4s cubic-bezier(0.51, 0.92, 0.24, 1);
                                transform: scaleX(0);
                            }

                            i {
                                font-size: $fs-3xl;
                                line-height: 1;
                                padding-right: 11px;
                            }
                        }

                        .services__navbar_link.nav-link.active {
                            border: 1px solid transparent;
                            border-color: transparent;
                            background-color: transparent;
                            color: $text-c0-primary;

                            &::before {
                                transform: scaleX(1);
                            }
                        }

                        .nav-link:hover {
                            border-color: transparent;
                        }
                    }
                }
            }
        }
    }

    .services__tabbar {
        padding-top: 50px;

        .row {
            div {
                .tab-content {
                    .tab-pane {
                        .row {
                            .services__item {
                                padding: 34px 35px 29px;
                                border-left: 2px solid $text-c4-white;
                                position: relative;
                                overflow: hidden;
                                transition: all 0.4s ease;
                                margin-bottom: 30px;

                                .services__item_overlay {
                                    display: block;
                                    position: absolute;
                                    width: 0%;
                                    height: 100%;
                                    top: 0%;
                                    left: 0%;
                                    color: #ffffff;
                                    background-color: #0554f2;
                                    z-index: 1;
                                    opacity: 0;
                                    visibility: hidden;
                                    transition: all 0.4s ease;
                                    border-radius: 15px;
                                }

                                .services__item_header {
                                    margin-bottom: 8px;

                                    .services__item_icon {
                                        position: relative;
                                        z-index: 2;
                                        display: inline-flex;
                                        font-size: $fs-6xl;
                                        margin-bottom: 18px;
                                        color: #000000;
                                    }

                                    .services__item_title {
                                        padding-left: 0;
                                        font-size: $fs-c12 ;
                                        margin-bottom: 13px;
                                        position: relative;
                                        z-index: 2;

                                        a {
                                            color: $text-c2-dark;
                                        }
                                    }
                                }

                                .services__item_content {
                                    p {
                                        transition: all 0.4s ease;
                                        margin-bottom: 14px;
                                        position: relative;
                                        z-index: 2;
                                    }

                                    a {
                                        position: relative;
                                        z-index: 2;
                                        color: #0554f2;
                                        font-size: 16px;
                                    }
                                }

                                &:hover {
                                    border-left: 2px solid transparent;
                                }

                                &:hover .services__item_overlay {
                                    width: 100%;
                                    left: 0%;
                                    opacity: 1;
                                    visibility: visible;
                                    transition: all 0.4s ease;
                                }

                                &:hover .services__item_icon,
                                &:hover .services__item_title a,
                                &:hover .services__item_content p,
                                &:hover .services__item_content a {
                                    color: $text-c0-white;

                                }
                            }

                            .services-key__content {
                                background: $bg-c1-white;
                                border: 2px solid transparent;
                                padding: 50px 25px 43px;
                                border-radius: 15px;
                                transition: all 0.4s ease;

                                &:hover {
                                    border-radius: 15px;
                                    background: transparent;
                                    transition: all 0.4s ease;

                                }

                                &:hover .services__item_overlay {
                                    left: auto;
                                    right: 0;
                                }
                            }
                        }

                        &:nth-child(2) {
                            .services__tech {
                                border: 2px solid $text-c3-white;
                                padding: 67px 0 60px;
                                border-radius: 10px;

                                .services__item_overlay {
                                    display: block;
                                    position: absolute;
                                    width: 100%;
                                    height: 0%;
                                    top: 0%;
                                    left: 0%;
                                    color: $text-c0-white;
                                    background-color: $bg-c1-primary;
                                    z-index: 1;
                                    border-radius: 5px;
                                    opacity: 0;
                                    visibility: hidden;
                                    transition: all 0.4s ease;
                                }

                                .services__item_header {
                                    margin-bottom: 0px;

                                    .services__tech_icon {
                                        margin-bottom: 12px;
                                        position: relative;
                                        z-index: 2;
                                        display: inline-flex;
                                        color: $text-c0-primary;
                                        font-size: 84px;

                                    }

                                    .services__tech_title {
                                        padding-left: 0;
                                        font-size: 30px;
                                        letter-spacing: 0.1em;
                                    }
                                }

                                &:hover .services__item_overlay {
                                    height: 100%;
                                    bottom: 0;
                                }

                                &:hover .services__tech_icon {
                                    color: $text-c0-white;
                                }
                            }
                        }
                    
                        &:nth-child(3) {
                            .services__awards {
                                border-radius: 5px;
                                background-color: $bg-c0-white;
                                box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.04);
                                padding: 40px 27px 20px;
                                text-align: center;

                                .services__awards_board {
                                    margin-bottom: 29px;
                                    background-color: $bg-c4-white ;
                                    box-shadow: 0px 0px 46px 0px rgba(0, 0, 0, 0.14);

                                }

                                .services__awards_title {
                                    font-size: $fs-c8;

                                    a {
                                        color: $text-c2-dark ;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}