/*-----Font size -----*/
$i6: 375px;
$i6plus: 414px;
$xs: 575.98px;
$sm: 767.98px;
$md: 991.98px;
$lg: 1199.98px;
@mixin ScreenSize ($type) {
    @if $type ==$i6 {
        @media screen and (max-width:$i6) {
            @content;
        }
    }
     @else if $type ==$i6plus {
        @media screen and (max-width:$i6plus) {
            @content;
        }
    }
     @else if $type ==$xs {
        @media screen and (max-width:$xs) {
            @content;
        }
    } 
    @else if $type ==$md {
        @media screen and (max-width:$md) {
            @content;
        }
    }
     @if $type == $lg {
        @media screen and (max-width:$lg) {
            @content;
        }
    }
}
.show {
    display: inline-block !important;
}

.hide {
    display: none;
}

.logo {
    width: 104px;
}

.white-bg {
    background-color: $bg-c0-white;
}

.section-button {
    display: flex;
    justify-content: flex-end;

    @media screen and (max-width:767.98px) {
        justify-content: flex-start;
    }
}

.section-bg-common {
    background: $bg-c2-white;
}

.secondary-bg-color {
    background: #14133b;
}

.section-heading__title_small {
    color: $text-c0-primary;
    font-size: $fs-c4;
    font-weight: $fw-medium;
    position: relative;
    padding-left: 15px;
    text-transform: uppercase;
    letter-spacing: 1.6px;
    display: inline-block;
    margin-bottom: 28px;

    @media screen and (max-width:414px) {
        font-size: $fs-c2;
    }

    &::before {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        content: "";
        height: 15px;
        width: 5px;
        background: $bg-c1-primary;
    }
}

.section-heading__title_big {
    font-size: calc(1.375rem + 1.5vw);
    font-weight: $fw-semiBold;
}

.social_list {
    margin-left: 7px;

    .facebook:hover {
        background: #4064ac;
    }

    .tiktok:hover {
        background: #000;
    }

    .instagram:hover {
        background: #d1005c;
    }

    .youtube:hover {
        background: #c00;
    }

    a {
        height: 35px;
        width: 35px;
        display: inline-block;
        text-align: center;
        line-height: 35px;
        background: transparent;
        border-radius: 7px;
        background-color: $bg-c1-white;
        transition: 0.4s;

        .fa-facebook-f {
            color: #4064ac;
        }

        .fa-tiktok {
            color: #000;
        }

        .fa-instagram {
            color: #d1005c;
        }

        .fa-youtube {
            color: #c00;
        }


        &:hover i {
            color: $text-c0-white;
        }
    }

}

.counter--bg {
    position: relative;
    z-index: 2;

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: rgba(0, 0, 0, 0.6);
        z-index: 0;
    }
}

.blog-item__img_link:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 0;
}

.contact--bg {
    background: $bg-c3-white;
}

.title-course {
    padding: 50px;
    text-transform: uppercase;
    background-color: $bg-c0-primary;
    padding-top: 235.5px;

    @media screen and (max-width:991.98px) {
        padding-top: 148.5px;
    }
    @media screen and (max-width:575.98px) {
        padding:84.5px 30px 30px 30px;

    }
    h3,
    p {
        color: $text-c0-white;

    }
}

.search-main {
    border: 1px solid #e2e2e2;
    border-radius: 5px;
    padding: 10px 22px;
    width: 330px;
    position: relative;
    padding-right: 45px;

    @include ScreenSize($lg) {
        width: 180px;
    }

    @include ScreenSize($md) {
        width: 330px;
    }

    .search_input {
        border: 1px solid transparent;
        width: 100%;
        background: transparent;
        outline: transparent;
    }

    .search_button {
        background: transparent;
        color: $text-c2-dark;
        border: 1px solid transparent;
        font-size: $fs-c3;
        right: 22px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);

    }
}

.my-course-item {
    .img-net {
        object-fit: fill;
        width: 100%;
        height: 255px;
        min-height: 255px;

        @media screen and (max-width: 991.98px) {
            min-height: 380px;
            height: 380px;
        }

        @media screen and (max-width: 414px) {
            min-height: 220px;
            height: 220px;
        }
    }

    .card-net-content * {
        margin-bottom: 5px;

        @media screen and (max-width: 991.98px) {
            margin-top: 8px;
        }
    }

    .card-net-content {
        .color-card-title {
            color: $text-c2-dark;
        }

        .icon-net-card {
            .text-card-title {
                padding-right: 15px;
            }
        }

        .icon-star-net i {
            color: #f6ba35;
        }
    }

    .img-net-footer {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        object-fit: cover;

    }
}

.icon-oclock {
    color: #f5c002;
}

.icon-calendar {
    color: #f06f68;
}

.icon-level {
    color: #65c9ff;
}