/*----text-color----*/
$text-c0-primary: #0554f2;
$text-c1-primary: #dee9fe;
$text-c2-primary:#dbdbe3;
$text-c3-primary:#5188c9;

$text-c0-dark: #000;
$text-c1-dark: #76767d;
$text-c2-dark: #14133b;
$text-c3-dark: #656567;
$text-c4-dark:#5b6674;
$text-c5-dark:#bdbdbd;

$text-c0-white: #fff;
$text-c1-white: #d7d7d7;
$text-c2-white:#ededed;
$text-c3-white:#f2f2f2;
$text-c4-white:#dee9fe;

$text-c0-yellow:#f6ba35;
/*----bg-color----*/
$bg-c0-white: #fff;
$bg-c1-white: #edf3ff;
$bg-c2-white: #f5faff;
$bg-c3-white:#f6f9ff;
$bg-c4-white:#d7d7d7;

$bg-c0-dark: #181a2e;
$bg-c1-dark:#bdbdbd;
$bg-c2-dark:#14133b;

$bg-c0-primary: #212338;
$bg-c1-primary: #0554f2;
$bg-c2-primary: rgba(19, 23, 46, 0.5);
$bg-c3-primary:#004d91;
$bg-c4-primary:#0165ba;
$bg-c5-primary:#5188c9;
/*----font Size----*/
$fs-c0:12px;
$fs-c1: 13px;
$fs-c2: 14px;
$fs-c3: 15px;
$fs-c4: 16px;
$fs-c5: 17px;
$fs-c6: 18px;
$fs-c7: 19px;
$fs-c8: 20px;
$fs-c9: 21px;
$fs-c10: 22px;
$fs-c11: 23px;
$fs-c12: 24px;

//bộ 2
$fs-3xl: 30px;
$fs-4xl: 40px;
$fs-5xl:50px;
$fs-6xl:60px;
/*----font-Weight ---*/
$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-semiBold: 600;
$fw-black: 900;

/*----light-height----*/
$lh-c1: 0;